@mixin pos-center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }//pos-center
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }//flex-center
  
  @mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }//flex-center

  
  @mixin img-set{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }  
  
  
  // 반응형 분기점
  @mixin container {
    @media (max-width: #{$container-width}) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: #{$breakpoint-pc - 1px}) {
      @content;
    }
  }
  @mixin mobile {
    @media (max-width: #{$breakpoint-tablet - 1px}) {
      @content;
    }
  }
  // 320px 까지 맞출시 사용
  @mixin smallest {
    @media (min-width:#{$breakpoint-smallest}) and (max-width:#{$breakpoint-mobile - 1px}) {
      @content;
    }
  }
  
  
