nav{
    z-index: 10; position: relative;
    >ul{
        width: 80%; border-radius: 3rem; margin: 0 auto; 
        position: fixed; top: 90%; left: 50%; transform: translateX(-50%);
        display: flex; padding: 0 2rem; box-sizing: border-box;          
        background-color: rgba($color:#926E6F, $alpha: 0.6);
        -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);  
        >li{
            flex: 1; text-align: center; 
            >a{
                display: block; padding: 1.6rem 0; box-sizing: border-box; transition: all 0.5s;
                i{font-size: 2rem; color: rgba($color:#fff, $alpha: 0.5);}
                &:hover{
                    i{color: rgba($color:#fff, $alpha: 1);}
                }
            }
            ul.second-depth{
                position: absolute; background-color: $color-white; width: 100%;
                border-radius: 3rem; bottom: 120%; left: 0; overflow: hidden;   
                li{            
                    &:not(:last-child) {border-bottom: 1px dotted rgba($color:#aaa, $alpha: 0.5);}                           
                    a{
                        display: block; padding: 1.4rem 0; box-sizing: border-box;
                        text-align: left; padding-left: 20%;
                        &:not(.cancel)::before {
                            content: ""; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 0.8em; content: "\f2a0";
                            margin-right: 2rem; color: $color-gray02;
                        }
                        span{
                            &.groom{color: $color-green;}
                            &.bride{color: $color-pink;}
                        }
                        &.cancel{
                            text-align: center; padding-left: 0;
                            background-color: $color-gray04; font-weight: 500;
                        }
                    }
                }
                /* active */
                display: none;                
            }
        }
    }
    &.on{
        .nav_bg{background-color: rgba($color:#333, $alpha: 0.7); backdrop-filter: blur(0.5rem);}         
        ul.second-depth{display: block;}
    }
}