//공통 css

section{
    width: 100%;
    height: var(--vh)
}

img{@include img-set;}

h2{font-size: 4.3rem; text-align: center; margin-bottom: 4%; opacity: 0.8;
    @media (max-width: 450px){font-size: 9vw;}
    span{display: block;}
}

.btn-wrap{    
    display: flex; align-items: center; justify-content: center;
    width: 90%; margin: 0 auto; gap: 5%; 
    button{
        border: 1px solid $color-pink; border-radius: 3rem; font-size: 1.5rem;
        color: $color-darkpink; padding: 2% 5% 2% 5%;
    }
}

h3{ font-weight: 600; margin-bottom: 1rem; text-align: center;
    &::before, &::after{
        content: ""; display:inline-block; width: 5px; height: 5px; border-radius: 50%; 
        background-color: $color-pink; margin: 0 1rem; vertical-align: middle;
    } 
}

//alert
#alert-pop {
    z-index: 100; position: fixed; top: 10%; left: 50%; transform: translate(-50%, -30px); width: 100%;
    opacity: 0; pointer-events: none;
    .alert-pop-con{
        width: 70%; border-radius: 3rem; margin: 0 auto; background: $color-pink;
        color: $color-white;
        text-align: center; 
        p{padding: 2rem;}
    }
    &.show {
        opacity: 1; transform: translate(-50%, 0); transition: all 0.5s;
    }
}

//backdrop
.backdrop{
    position: fixed; top:0; left: 0; 
    width: 100%; height: 100vh; background-color: rgba($color:#926E6F, $alpha: 0.6);
    pointer-events: none; z-index: 9;
    -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);  
    opacity: 0; 
    &.on{
        opacity: 1; transition: all 0.3s;
    }
}    

//footer.css
.copyright{
    width: 100%; padding: 5%; box-sizing: border-box;
    background-color: $color-gray03; color: $color-gray02;
    font-family: 'Noto Sans KR'; text-align: center; font-size: 1rem;

}
