.intro {
    width: 90%; margin: 0 auto; padding: 30% 0; text-align: center; 
    h1{font-size: 3rem; color: $color-pink;
        p:first-child{font-size: 0.5em; color: #999;}
    }
    .flexbox{
        display: flex; justify-content: space-between; gap: 1.4rem; 
        margin: 6rem auto;
        li{flex: 1;
            h2{font-size: 2rem; margin-bottom: 1.4rem;}
            figure{height: 25rem; overflow: hidden;
                img.bride{scale: 1.5; object-position: 50% -40px;}
            }
        }
    }//flexbox
    .textbox{
        width: 70%; max-width: 50rem; margin: 0 auto;
        p{text-align: justify; font-size: 1.6rem; word-break: normal; line-height: 3rem; margin-bottom: 2rem;
        &.fontstyle{color: $color-darkpink; text-align: end; padding-top: 4rem;}
        }
    }//textbox
}